{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block meta %}

    {{ include('partials/og-meta.html.twig', { 'encryptedName': encryptedName }) }}

{% endblock %}

{% block body %}

    {{ include('partials/facebook-sdk.html.twig') }}

    <div class="ui middle aligned center aligned grid">
        <div class="column">

            {{ include('partials/header.html.twig', {
                'personName': personName,
                'message':'îți mulțumim pentru donație'
            })}}
            <img src="{{ path('image', {'encryptedName': encryptedName }) }}" alt="certificate" class="certificat image">

            <p><a href="{{ path('imageCertificate', {'encryptedName': encryptedName }) }}">link permanent al certificatului</a></p>

            <div>
                <a href="#" class="ui button orange">Descarcă</a>
            </div>

            {{ include('partials/facebook-share.html.twig', { 'encryptedName': encryptedName }) }}

        </div>
    </div>

{% endblock %}

{% block stylesheets %}

    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .logo.image {
            margin-top: -100px;
        }
        .column {
            max-width: 600px;
        }
        .ui.header {
            margin-top: 14px;
        }
        .certificat.image {
            width: 100%;
        }
        .fb-share-button {
            margin-top: 5px;
        }
    </style>

{% endblock %}

{% block javascripts %}

{% endblock %}